*{
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#checkBox{
    display: inline;
}
.content {
    font-weight: bolder;
}
.content label , input {
    display: block;
    margin-bottom: 10px;
}

.content fieldset {
   width: 400px;
   margin: auto;
}